@import "_gruv.css";

* {
    padding: 0;
    margin: 0;
    font-family: "FiraCode", "JetBrains Mono Nerd Font";
    font-size: 14px;
    margin-top: 1px;
}

#window {
    color: @bright-yellow;
    border-radius: 0px 10px 10px 0px;
    padding-right: 4px;
}

window#waybar {
    border-bottom: 0px solid #ffffff;
    background: rgba(40, 40, 40, 0.5);
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button.empty {
    color: @bright-white;
}

#workspaces button {
    border-radius: 0px;
    padding: 0;
    margin: 0;
    padding-left: 3px;
    padding-right: 3px;
    color: @bright-white;
}

#workspaces button:hover {
    color: @yellow;
}

#workspaces button.visible {
    background: transparent;
    color: @bright-yellow;
    border-bottom: 1.3px solid;
    border-radius: 5px;
}

/* ALL */
#custom-filesys,
#custom-temp,
#custom-music,
#custom-mails,
#custom-battery,
#custom-wifi,
#clock,
#cpu,
#temperature,
#memory,
#custom-weather{
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 8px;
    color: @bright-white;
}

#cpu {
    margin-right: 0;
    padding-right: 0;
}

#memory {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

/* ------ Pulseaudio ------ */
#pulseaudio {
    padding: 2px 5px;
}

/* ------ Backlight ------ */
#backlight {
    padding: 2px 5px;
}

/* ------ Network ------ */
#network {
    padding: 2px 5px;
}

/* ------ Battery ------ */
#battery {
    padding: 2px 5px;
}

/* ------ Clock ------ */
#clock {
    font-weight: bold;
    font-size: 12px;
}

#custom-music {
    font-weight: bold;
    font-size: 12px;
}

#custom-epoch {
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

/* ------ System Tray ------ */
#tray {
    padding: 2px 5px;
}

/* ------ Custom Modules ------ */

#custom-warp {
    padding: 2px 5px;
}

#custom-weather {
    font-family: "Weather Icons";
}

#custom-owl {
    padding-top: 4px;
    margin-right: 0;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 10px;
    color: @white;
    font-size: 18px;
}
